.primary{
  color: white; 
  background: blue;
  padding: 5px;
  border-radius: 5px;
}

.primary:hover{
  background: darkblue;
  box-shadow: 0px -1px 21px 0px rgba(0,0,0,0.22);
  -webkit-box-shadow: 0px -1px 21px 0px rgba(0,0,0,0.22);
  -moz-box-shadow: 0px -1px 21px 0px rgba(0,0,0,0.22);
}

.primary:active{
  background: black;
}
