<p>
  <a href="https://bootstrap-levels.matchthetarget.com/levels/00_primary_button" target="_blank">Target</a>
</p>

<span>Click me!</span>

<style>
  span {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 5px;
    background: blue;
    color: white;
  }

  span:hover {
    background-color: darkblue;
    box-shadow: 10px -2px 61px -29px rgba(0,0,0,1);
-webkit-box-shadow: 10px -2px 61px -29px rgba(0,0,0,1);
-moz-box-shadow: 10px -2px 61px -29px rgba(0,0,0,1);
  }

  span:active {
    background: black;
  }
  /* Add your CSS here */

</style>
